

body {
	background-color: lightblue;
	color: #fff;
}

header {
	margin-top: 15px;
	padding-bottom: 25px;
}

.logo {
	position: relative;
	transform:translateY(15%);
}

main {
	margin-bottom: 50px;
}

.modal-title {
	margin: 25px;
}

button.close {
	margin: 5px;
}

@media (max-width: 480px) {
	header {
		padding-bottom: 15px;
	}
	.my-name {
		text-align: left;
	}
	.my-name h3 {
		font-size: 14px;
		margin-top: 0;
	}
	.my-name h1 {
		margin-bottom: 0;
	}
	.logo {
		margin-bottom: 10px;
	}
}